<navbar>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href="/about">About</a></li>
        <div class="sign-up">
            <a href="/login" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Sign Up</a>
        </div>
    </ul>
</navbar>