<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../web_dev/styles.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Corinthia:wght@700&family=Lobster&family=Merriweather&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    {{>css}}
</head>
<body>
    {{>navbar}}
    <form class="weather-form">
        <div>
            <input type="text" placeholder="Enter your city name.." class="city">
            <button class="search">Search</button>
            </input>  
        </div> 
        <div class="output">
            <div class="date"></div>
            <div class="result"><p>Get Your Output here</p></div>
        </div> 
    </form>
    <footer>
        Project by students of Government College of Engineering, Aurangabad
    </footer>
    <script>
        (()=>{let x=new Date();
        let day=['SUN','MON','TUE','WED','THU','FRI','SAT'];
        let month=['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEPT','OCT','NOV','DEC'];
        let a=day[x.getDay()];
        let b=x.getDate();
        let c=month[x.getMonth()];
        let d=x.getHours();
        let e=x.getMinutes();
        let am='AM';

        if(d>12)
        {
            d-=12;
            am='PM';
        }
        else 
            am='AM';
        if(d<10)
            d=`0${d}`;
        if(e<10)
            e=`0${e}`;
        let y=`${a} | ${b} ${c} | ${d}:${e} ${am}`;
        document.querySelector(".date").innerHTML=y})();
        const myFunc = async(e) => {
            e.preventDefault();
            let city=document.querySelector('.city').value;
            if(city==='')
                document.querySelector('.result').innerHTML="<p>Please enter your city name</p>";
            else
            {
                try{
                    let url=`https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=1fe8a8103a97cc521c14391c23d57422`;
                    const response=await fetch(url);
                    const data=await response.json();
                    let x=data.weather[0].main;
                    let temp=(data.main.temp-273).toFixed(2);
                    if(x=='Clear')
                        document.querySelector('.result').innerHTML=`<div class='newhtml'><h3><em>${x}</em></h3><div class='dynamic'><h1>${temp}&deg;C</h1><i class='fas fa-sun' style='color: yellow'></i></div></div>`;
                    else if(x=='Clouds')
                        document.querySelector('.result').innerHTML=`<div class='newhtml'><h3><em>${x}</em></h3><div class='dynamic'><h1>${temp}&deg;C</h1><i class="fas fa-cloud" style='color: lightblue;'></i></div></div>`;
                    else if(x=='Haze')
                        document.querySelector('.result').innerHTML=`<div class='newhtml'><h3><em>${x}</em></h3><div class='dynamic'><h1>${temp}&deg;C</h1><i class="fas fa-smog" style='color: grey;'></i></div></div>`;
                    else if(x=='Rain')
                        document.querySelector('.result').innerHTML=`<div class='newhtml'><h3><em>${x}</em></h3><div class='dynamic'><h1>${temp}&deg;C</h1><i class="fas fa-cloud-rain" style='color: blue;'></i></div></div>`;
                }
                catch{
                    document.querySelector('.result').innerHTML="<p>Please enter correct city name</p>";
                }
                
        
            }
        }
        document.querySelector('.search').addEventListener('click',myFunc);
    </script>
</body>
</html>